@tailwind base;
@tailwind components;
@tailwind utilities;

.krona {
  font-family: "Krona One", sans-serif;
}

.lexend {
  font-family: "Lexend Exa", sans-serif;
}

.dela {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.material-icons {
  font-family: "Material Icons", sans-serif;
}

.fixed-background-img {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}