@import "@fontsource-variable/inter";
@import "@fontsource/krona-one";
@import "@fontsource/lexend-exa";
@import "@fontsource/dela-gothic-one";
@import "@fontsource/roboto-condensed";

@tailwind base;
@tailwind components;
@tailwind utilities;


body * {
  @apply transition-colors duration-200;
}

html {
  font-family: "Inter Variable"; /* Default font */
}

body {
  font-family: var(--font-family); /* This variable is declared onMount in the root +layout.svelte */
}

:is(.dark .dark\:mocha) {
}

.fixed-background-img {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.blue-button {
  @apply bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 p-2 rounded-lg text-white
}

.blue-btn {
  @apply blue-button
}

.text-overflow-clip {
  text-overflow: clip;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.krona {
  font-family: "Krona One", sans-serif;
}

.dela {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}