@import "@fontsource-variable/inter";
@import "@fontsource/krona-one";
@import "@fontsource/lexend-exa";
@import "@fontsource/dela-gothic-one";
@import "@fontsource/roboto-condensed";
@import "@fontsource-variable/ibm-plex-sans";

@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  @apply transition-colors duration-200;
}

html {
  font-family: "Inter Variable"; /* Default font */
}

body {
  font-family: var(--font-family-var); /* This variable is declared onMount in the root +layout.svelte */
}

@plugin "daisyui" {
  themes: all;
}

:root {
  --color-b-red: #ff1e00;
  --color-b-lime: #13e600;
  --color-b-yellow: #ffcc00;
  --color-b-cyan: #00a3ff;
  --color-b-blue: #000dff;
  --color-b-maastricht: #0c1a43;
  --color-b-jordy: #989dff;
  --color-b-night: #131826;

  --color-m-base-100: #fff;
  --color-m-base-200: #fff;
  --color-m-base-300: #fff;
  --color-m-base-content: #000;
  --color-m-primary: var(--color-b-maastricht);
  --color-m-primary-content: #fff;
  --color-m-secondary: #000; /* Placeholder for secondary color */
  --color-m-secondary-content: #fff; /* Placeholder for secondary content color */
  --color-m-accent: var(--color-b-cyan);
  --color-m-accent-content: #fff; /* Placeholder for accent content color */
  --color-m-neutral: var(--color-b-jordy);
  --color-m-neutral-content: #000; /* Placeholder for neutral content color */
  --color-m-info: oklch(69.224% 0.097 207.284);
  --color-m-info-content: oklch(13.844% 0.019 207.284);
  --color-m-success: oklch(60.995% 0.08 174.616);
  --color-m-success-content: oklch(12.199% 0.016 174.616);
  --color-m-warning: oklch(70.081% 0.164 56.844);
  --color-m-warning-content: oklch(14.016% 0.032 56.844);
  --color-m-error: oklch(53.07% 0.241 24.16);
  --color-m-error-content: oklch(90.614% 0.048 24.16);
  color-scheme: light;
}

[data-theme="light"] {
  color-scheme: light;
  --color-m-base-100: #fff;
  --color-m-base-200: #fff;
  --color-m-base-300: #fff;
  --color-m-base-content: #000;
  --color-m-primary: var(--color-b-maastricht);
  --color-m-primary-content: #fff;
  --color-m-secondary: #000; /* Placeholder for secondary color */
  --color-m-secondary-content: #fff; /* Placeholder for secondary content color */
  --color-m-accent: var(--color-b-cyan);
  --color-m-accent-content: #fff; /* Placeholder for accent content color */
  --color-m-neutral: var(--color-b-jordy);
  --color-m-neutral-content: #000; /* Placeholder for neutral content color */
  --color-m-info: oklch(69.224% 0.097 207.284);
  --color-m-info-content: oklch(13.844% 0.019 207.284);
  --color-m-success: oklch(60.995% 0.08 174.616);
  --color-m-success-content: oklch(12.199% 0.016 174.616);
  --color-m-warning: oklch(70.081% 0.164 56.844);
  --color-m-warning-content: oklch(14.016% 0.032 56.844);
  --color-m-error: oklch(53.07% 0.241 24.16);
  --color-m-error-content: oklch(90.614% 0.048 24.16);
}

[data-theme="dark"] {
  color-scheme: dark;
  --color-m-base-100: var(--color-b-night);
  --color-m-base-200: var(--color-b-night);
  --color-m-base-300: var(--color-b-night);
  --color-m-base-content: #fff;
  --color-m-primary: var(--color-b-maastricht);
  --color-m-primary-content: #fff;
  --color-m-secondary: #fff; /* Placeholder for secondary color */
  --color-m-secondary-content: #000; /* Placeholder for secondary content color */
  --color-m-accent: var(--color-b-cyan);
  --color-m-accent-content: #fff; /* Placeholder for accent content color */
  --color-m-neutral: var(--color-b-jordy);
  --color-m-neutral-content: #000; /* Placeholder for neutral content color */
  --color-m-info: oklch(69.224% 0.097 207.284);
  --color-m-info-content: oklch(13.844% 0.019 207.284);
  --color-m-success: oklch(60.995% 0.08 174.616);
  --color-m-success-content: oklch(12.199% 0.016 174.616);
  --color-m-warning: oklch(70.081% 0.164 56.844);
  --color-m-warning-content: oklch(14.016% 0.032 56.844);
  --color-m-error: oklch(53.07% 0.241 24.16);
  --color-m-error-content: oklch(90.614% 0.048 24.16);
}

[data-theme="miku"] {
    color-scheme: "light";
  --color-m-base-100: oklch(98% 0.019 200.873);
  --color-m-base-200: oklch(95% 0.045 203.388);
  --color-m-base-300: oklch(91% 0.08 205.041);
  --color-m-base-content: oklch(39% 0.07 227.392);
  --color-m-primary: oklch(60% 0.118 184.704);
  --color-m-primary-content: oklch(98% 0.014 180.72);
  --color-m-secondary: oklch(66% 0.179 58.318);
  --color-m-secondary-content: oklch(98% 0.022 95.277);
  --color-m-accent: oklch(54% 0.281 293.009);
  --color-m-accent-content: oklch(96% 0.016 293.756);
  --color-m-neutral: oklch(60% 0.126 221.723);
  --color-m-neutral-content: oklch(98% 0.019 200.873);
  --color-m-info: oklch(60% 0.126 221.723);
  --color-m-info-content: oklch(98% 0.019 200.873);
  --color-m-success: oklch(60% 0.118 184.704);
  --color-m-success-content: oklch(98% 0.014 180.72);
  --color-m-warning: oklch(64% 0.222 41.116);
  --color-m-warning-content: oklch(98% 0.016 73.684);
  --color-m-error: oklch(59% 0.249 0.584);
  --color-m-error-content: oklch(97% 0.014 343.198);
}

.fixed-background-img {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.blue-button {
  @apply bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 p-2 rounded-lg text-white;
}

.blue-btn {
  @apply blue-button;
}

.text-overflow-clip {
  text-overflow: clip;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.krona {
  font-family: "Krona One", sans-serif;
}

.dela {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.ibm-plex-sans {
  font-family: "IBM Plex Sans Variable", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
